[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
python-dotenv = "*"
psycopg2-binary = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
django-rest-swagger = "*"
drf-yasg-json-api = "*"
celery = "*"
django-extensions = "*"

[dev-packages]

[requires]
python_version = "3.8"
